.input {
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  display: block;
  border-radius: 30px;
  background-color: hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 3px 6px rgb(0, 0, 0 / 16%);
  border: none;
  color: #000;
  outline: none;
  width: 90%;
}
