.kviz {
  &__container {
    padding: 10px;
    background: #fefefe;
    border-radius: 12px;
    width: 250px;
    text-align: center;
  }
  &__img {
    width: 40px;
    height: 40px;
  }
  &__question {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    font-size: 48px;
    font-weight: bold;
  }
  &__answer {
    font-size: 36px;
    font-weight: bold;
    color: #093625;
  }
}

.button_wrong {
  border-color: red;
  color: red;
}
